{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
    <link rel="stylesheet" href=" {% static 'css/create_quiz.css' %} ">
</head>
<body>

    
    {% if created %}
        <h1>Quiz Created</h1>
        <p>Code : {{code}}</p>
        <p>Link : <a href="{%  url 'take' code %}">{{url}}</a></p>
        <a href="{% url 'home' %}">Go to home page</a>
    {% else %}
        
    <h1>Create Quiz</h1>

    <form action="{% url 'create' %}" method="post" class="create_form">
        {% csrf_token %}
        <input type="hidden" name="data" class="data">
        <div class="password__container">
            <label for="password">Enter password for quiz : </label>
            <input type="text" id="password" name="password" required>
        </div>

        <div class="questions__container">
            {% include 'includes/question_box.html' %}
        </div>
        <button type="button" class="addBtn">Add Question</button>
        <button type="submit" class="submit">Create Quiz</button>
    </form>
    {% endif %}


    <script src=" {% static 'js/create_quiz.js' %} "></script>
</body>
</html>