{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Take Quiz</title>
  </head>
  <body>
    <h1>Quiz</h1>

    
    {% if is_taken %}
        <h1>Your Score is {{score}}/{{total_questions}}</h1>
        <p>Go to <a href="{% url 'home' %}">Home</a></p>

    {% else %}
    <p>Code : {{quiz.code}}</p>
        
        
    <form action="{% url 'take_post' %}" method="post" class="form">
      {% csrf_token %}
      <input type="hidden" name="form__data" class="form__data">
      <label for="name">Enter your name : </label>
      <input type="text" id="name" name="name" required /><br />
      {% for question in quiz.questions.all %} 
      <div class="question" data-id={{question.id}}>
      {{question.text}} ? 
      {% for choice in question.choices.all %}
        <div class="choice__input">
            <input type="radio" name="option" value="{{choice.text}}"  />
            <label for="option">{{choice.text}}</label>
        </div>
      {% endfor %}
    </div>

    {% endfor %}
      <button type="submit" class="subBtn">Submit</button>
    </form>
    {% endif %}


    <script src="{% static 'js/take_quiz.js' %}"></script>
  </body>
</html>
