<div class="question_box">
  <label for="question">Question : </label>
  <input type="text" name="question" class="question" required />

  <div class="options__container">
    <h3>Options</h3>
    <div class="options">
      <div class="option">
        <input type="radio" name="correct-1" required />
        <input type="text" required />
      </div>

      <div class="option">
        <input type="radio" name="correct-1" required />
        <input type="text" required />
      </div>

      <div class="option">
        <input type="radio" name="correct-1" required />
        <input type="text" required />
      </div>

      <div class="option">
        <input type="radio" name="correct-1" required />
        <input type="text" required />
      </div>
    </div>
  </div>
</div>
